<h2>Agregar Alumno</h2>
<form action="/agregar" method="POST">
  <div class="mb-3">
    <label for="nombre" class="form-label">Nombre</label>
    <input
      type="text"
      class="form-control"
      id="nombre"
      name="nombre"
      required
    />
  </div>
  <div class="mb-3">
    <label for="apellido" class="form-label">Apellido</label>
    <input
      type="text"
      class="form-control"
      id="apellido"
      name="apellido"
      required
    />
  </div>
  <div class="mb-3">
    <label for="edad" class="form-label">Edad</label>
    <input type="number" class="form-control" id="edad" name="edad" required />
  </div>
  <div class="mb-3">
    <label for="curso" class="form-label">Curso</label>
    <input type="text" class="form-control" id="curso" name="curso" required />
  </div>
  <button type="submit" class="btn btn-primary">
    <i class="fas fa-save"></i> Guardar
  </button>
</form>
