<div class="text-center">
  <img
    src="/public/assets/logoUSBBOG.png"
    alt="Logo usbbog"
    class="img-fluid mb-4"
    style="max-width: 200px"
  />
  <h1 class="display-4">Bienvenido a nuestra Universidad San Buenaventura</h1>
  <p class="lead">Sistema de gestión de alumnos</p>
</div>
